<h3>evaluate</h3>
<%= form_with(model: @evaluation_record, url: evaluation_evaluate_path, id: "form") do |form| %>
  <% if @evaluation_form.present? %>
    <div class="mb-3">
      <%= @evaluation_form.form_fields.html_safe %>
    </div>
  <% else %>
    <p>No form fields available.</p>
  <% end %>


  <%= form.hidden_field :record, value: nil, id: "detailed-result" %>
  <%= form.hidden_field :task_id, value: params[:id] %>
  <%= form.hidden_field :evaluators, value: current_user.is_a?(Instructor) && current_user.ho_d_department.present? ? "hod" : user_type %>

  <%= form.submit :evaluate, value: "Evaluate", id: "evaluate", class: "btn btn-primary" %>
<% end %>

<script>


function serializeRadioValues() {
    var radioValues = {};
    var radioInputs = document.querySelectorAll('input[type="radio"]');

    radioInputs.forEach(function(input) {
      if (input.checked) {
        var questionName = input.name;
        var value = input.value;
        radioValues[questionName] = value;
      }
    });

    return JSON.stringify(radioValues);
  }

  // Update the hidden field with the serialized hash value
  function updateDetailedResultField() {
    var detailedResultField = document.getElementById('detailed-result');
    detailedResultField.value = serializeRadioValues();
  }

  // Update the hidden field before submitting the form

    var form = document.querySelector('form');
    form.addEventListener('submit', updateDetailedResultField);
</script>