list of to be evaluated


<% if user_type == "student" %>
  <ul>
    <% current_user.tasks.each do |task| %>
      <% if task.start_eval %>
      <li>
        <%= link_to task.instructor.name, evaluation_path(task.id) %>&nbsp;&nbsp;&nbsp;
        <%= task.course.course_name %>&nbsp;&nbsp;&nbsp;
        <%= task.department.dep_name %>&nbsp;&nbsp;&nbsp;
        <%= task.semester.sem %>&nbsp;&nbsp;&nbsp;
      </li>
      <% end %>
    <% end %>
  </ul>
<% elsif user_type == "instructor" %>
  <!-- Code for the instructor section goes here -->
  <ul>
    <% current_user.tasks.each do |task| %>
      <% if task.start_eval %>
      <li>
        <%= link_to task.instructor.name, evaluation_path(task.id) %>&nbsp;&nbsp;&nbsp;
        <%= task.course.course_name %>&nbsp;&nbsp;&nbsp;
        <%= task.department.dep_name %>&nbsp;&nbsp;&nbsp;
        <%= task.semester.sem %>&nbsp;&nbsp;&nbsp;
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>