<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<ul>

  <% @tasks.each do |task| %>
  <li>
    <%= task.course.course_name %>&nbsp;&nbsp;&nbsp;
    <%= task.department.dep_name %>&nbsp;&nbsp;&nbsp;
    <%= task.instructor.name %>&nbsp;&nbsp;&nbsp;
    <%= task.semester.sem %>&nbsp;&nbsp;&nbsp;
    <%= task.active %>&nbsp;&nbsp;&nbsp;
    <%= task.start_eval %>&nbsp;&nbsp;&nbsp;
    <%= link_to "Edit task", edit_task_path(task) %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'Delete', task_path(task), method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> 
    </li>
    
  <% end %>
  </ul>
  <button type="button" class="btn btn-primary">Bootstrap Button</button>

<%= link_to "New task", new_task_path %>