<h1>Tasks#new</h1>
<%= form_with(model: @task, url: tasks_path) do |form| %>

<div class="form-group">
  <%= form.label :course_id %><br/>
  <%= form.select :course_id, options_for_select(courses_for_select), {include_blank: true}, class: "form-control" %><br/>
</div>

<%= form.hidden_field :department_id, value: current_user.ho_d_department.department_id %>

<div class="form-group">
  <%= form.label :instructor_id %><br/>
  <%= form.select :instructor_id, options_for_select(instructors_for_select), {include_blank: true}, class: "form-control" %><br/>
</div>

<div class="form-group">
  <%= form.label :semester_id %><br/>
  <%= form.text_field :semester, class: "form-control" %><br/>
</div>


<div class="form-group my-2">
  <%= form.label :active %>
  <%= form.check_box :active, checked: true, class: "form-check-input" %>
</div>

<div class="form-group my-2">
  <%= form.label :start_eval, "Start evaluation" %>
  <%= form.check_box :start_eval, class: "form-check-input" %>
</div>

<div class="form-group">
  <%= form.label :student_ids, 'Students' %>
  <div id="checkbox-container">
    <% if @students.present? %>
    <%= form.collection_check_boxes :student_ids, @students, :id, :name do |b| %>
    <div class="form-check">
      <%= b.check_box class: "form-check-input" %>
      <%= b.label class: "form-check-label" %>
    </div>
    <% end %>
    <% else %>
    <p>No students found.</p>
    <% end %>
  </div>
  <button id="more-button" class="btn btn-secondary my-2">Show</button>
</div>

<%= form.submit class: "btn btn-primary my-2" %>
<% end %>
<script>
  $(document).ready(function() {
    $('#more-button').click(function() {
      $('#checkbox-container .form-check').toggle();
    });
  });
</script>