<h1>Students#edit</h1>
<%= form_with(model: @student, url: student_path(@student), method: :put, class: "form") do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %><br/>
    <%= form.text_field :name, value: @student.name, class: "form-control" %><br/>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %><br/>
    <%= form.text_field :email, value: @student.email, class: "form-control" %><br/>
  </div>

  <div class="mb-3">
    <%= form.label :college_id, class: "form-label" %><br/>
    <%= form.select :college_id, options_for_select(colleges_for_select, @student.college_id), { include_blank: true }, class: "form-select" %><br/>
  </div>

  <div class="mb-3">
    <%= form.label :department_id, class: "form-label" %><br/>
    <%= form.select :department_id, options_for_select(departments_for_select, @student.department_id), { include_blank: true }, class: "form-select" %><br/>
  </div>

  <div class="mb-3">
    <%= form.label :semester_id, class: "form-label" %><br/>
    <%= form.select :semester_id, options_for_select(semesters_for_select, @student.semester_id), { include_blank: true }, class: "form-select" %><br/>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>
