<h1>Students#index</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>College</th>
      <th>Semester</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.department.dep_name %></td>
        <td><%= student.college.college_name %></td>
        <td><%= student.semester.sem %></td>
        <td>
          <%= link_to "Edit", edit_student_path(student), class: "btn btn-primary me-2" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New student", new_student_path, class: "btn btn-success" %>
