<h1>Instructors#edit</h1>
<p>Find me in app/views/instructors/edit.html.erb</p>
<h1>Edit instructor</h1>
<%= form_with(model: @instructor, url: instructor_path(@instructor), method: :put) do |form| %>

  <%= form.label :name %><br/>
  <%= form.text_field :name,value: @instructor.name %><br/>

  <%= form.label :email %><br/>
  <%= form.text_field :email, value: @instructor.email %><br/>

  <%= form.label :college_id %><br/>
  <%= form.select :college_id, options_for_select(colleges_for_select,@instructor.college_id),include_blank: true %><br/>
  <br/><br/>
  <%= form.submit %>
<% end %>