<div class="container">
  <h1>Departments#index</h1>
  <%= link_to "New department", new_department_path, class: "btn btn-success my-2 float-end" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Department</th>
      <th>College</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.dep_name %></td>
        <td><%= department.college.college_name %></td>
        <td>
          <%= link_to "Edit", edit_department_path(department), class: "btn btn-primary btn-sm" %>
          <%= link_to "Delete", department_path(department), method: :delete, data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
