<h1>Departments#new</h1>
<p>Find me in app/views/departments/new.html.erb</p>
<%= form_with(model: @department, url: departments_path) do |form| %>
  <%= form.label :dep_name %><br/>
  <%= form.text_field :dep_name %><br/>
  <%= form.label :college_id %><br/>
  <%= form.select :college_id, options_for_select(colleges_for_select),include_blank: true %><br/>

  <%= form.submit %>
<% end %>