<h1>HeadOfDepartments#edit</h1>
<p>Find me in app/views/head_of_departments/edit.html.erb</p>
edit
<%= form_with(model: @ho_d_department, url: head_of_department_path(@ho_d_department), method: :put) do |form| %>

  <div class="field">
    <%= form.label :instructor_id %>
    <%= form.collection_select :instructor_id, @instructors, :id, :name, { selected: @ho_d_department.instructor_id } %>
  </div>
  
  <div class="field">
    <%= form.label :department_id %>
    <%= form.collection_select :department_id, @departments, :id, :dep_name, { selected: @ho_d_department.department_id } %>
  </div>
  <%= form.submit %>
<% end %>