<h1>Courses#new</h1>
<%= form_with(model: @course, url: courses_path) do |form| %>
  <div class="mb-3">
    <%= form.label :course_name, class: "form-label" %>
    <%= form.text_field :course_name, class: "form-control", required: true %>
    <% if @course.errors.has_key?(:course_name) %>
      <% @course.errors[:course_name].each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    <% end %>
  </div>

  <%= form.submit "Create Course", class: "btn btn-primary" %>
<% end %>
