
<div class="container">
<h1>EvaluationCriteriums#index</h1>
<table class="table">
  <thead>
    <tr>
      <th>for</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @evaluation_criteriums.each do |evaluation_criterium| %>
      <tr>
        <td><%= evaluation_criterium.for %></td>
        <td><%= evaluation_criterium.description %></td>
        <td>
          <%= link_to "Edit", edit_evaluation_criterium_path(evaluation_criterium), class: "btn btn-primary" %>
          <%= link_to "Delete", evaluation_criterium_path(evaluation_criterium), method: :delete, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New evaluation criterium", new_evaluation_criterium_path, class: "btn btn-success" %>
</div>