<h1>EvaluationCriteriums#new</h1>
<%= form_with(model: @evaluation_criterium, url: evaluation_criteriums_path) do |form| %>
  <div class="mb-3">
    <%= form.label :criteria, class: "form-label" %><br/>
    <%= form.text_field :criteria, class: "form-control" %><br/>
  </div>
  <div class="mb-3">
    <%= form.label :description, class: "form-label" %><br/>
    <%= form.text_field :description, class: "form-control" %><br/>
  </div>
  
  <%= form.submit class: "btn btn-primary" %>
<% end %>