<h1>EvaluationForms#new</h1>
<p>Find me in app/views/evaluation_forms/new.html.erb</p>

<%= form_with(model: @evaluation_form, url: evaluation_forms_path, id: 'data-form') do |form| %>
  <div id="dynamic-fields-container">
    <!-- Existing form fields or generated radio buttons can be inserted here -->
  </div>

  <select name="evaluation_criterium_id" id="evaluation-criterium-select">
    <% @evaluation_criteriums.each do |criterium| %>
      <option value="<%= criterium.id %>" data-name="<%= criterium.criteria %>" data-description="<%= criterium.description %>">
        <%= criterium.criteria %>
      </option>
    <% end %>
  </select>

  

  <%= form.hidden_field :form_fields, value: nil, id: "hidden-field" %>
  <%= form.select :evaluator, [["Evaluator", nil],["Student","student"], ["Instructor","instructor"]] %>
  <%= form.submit :submit_form_fields, value: "Save Form Fields", id: "submit-form-fields" %>
<% end %>
<button id="add-radio-buttons">Add Radio Buttons</button>
<script>
  // Retrieve the select element and add an event listener to capture the selected option
  var selectElement = document.getElementById('evaluation-criterium-select');
  var submitFormFields = document.getElementById('submit-form-fields');
  var form = document.getElementById('data-form');

  var selectedName = "blank";
  var selectedDescription = "blank";

  selectElement.addEventListener('change', function() {
    var selectedOption = selectElement.options[selectElement.selectedIndex];
    selectedName = selectedOption.getAttribute('data-name');
    selectedDescription = selectedOption.getAttribute('data-description');
    selectedId = selectedOption.getAttribute('value');
    
    // Use the captured data as needed
    console.log('Selected Name:', selectedName);
    console.log('Selected Id:', selectedId);
    console.log('Selected Description:', selectedDescription);
  });

  var addButton = document.getElementById('add-radio-buttons');
  var container = document.getElementById('dynamic-fields-container');

  addButton.addEventListener('click', function() {
    var fieldHtml = `
      <p>${selectedDescription}:</p>
      <input type="radio" name="evaluation_form[form_fields][${selectedId}]" value="1" id="q${selectedId}_1">
      <label for="q${selectedId}_1">1</label>
      
      <input type="radio" name="evaluation_form[form_fields][${selectedId}]" value="2" id="q${selectedId}_2">
      <label for="q${selectedId}_2">2</label>

      <input type="radio" name="evaluation_form[form_fields][${selectedId}]" value="3" id="q${selectedId}_3">
      <label for="q${selectedId}_3">3</label>

      <input type="radio" name="evaluation_form[form_fields][${selectedId}]" value="4" id="q${selectedId}_4">
      <label for="q${selectedId}_4">4</label>

      <input type="radio" name="evaluation_form[form_fields][${selectedId}]" value="5" id="q${selectedId}_5">
      <label for="q${selectedId}_5">5</label>
    `;

    container.insertAdjacentHTML('beforeend', fieldHtml);
  });

  submitFormFields.addEventListener('click', function(event) {
  event.preventDefault();

  var hiddenField = document.getElementById('hidden-field');
  hiddenField.value = container.innerHTML;

  // Trigger the form submission after a brief delay to allow the container.innerHTML to be updated
  setTimeout(function() {
    form.submit();
  }, 100);
});
</script>