<%= form_with(model: @evaluation_form, url: evaluation_forms_path, id: 'data-form') do |form| %>
<div class="my-4 ">

  <div class="row">
    <div class="col-8"> 
     <div class="form-group mb-3">
      <label for="evaluation-form-evaluator" class="form-label">Evaluators:</label>
      <%= form.select :evaluator, [["Select Evaluators", nil],["Students","student"], ["Instructors","instructor"], ["Head of departments","hod"]], {}, class: "form-select form-control" %>
      <% if @evaluation_form.errors.has_key?(:evaluator) %>
      <% @evaluation_form.errors[:evaluator].each do |message| %>
      <div class="text-danger"><%= message %></div>
      <% end %>
      <% end %>
    </div>

    <div class="form-group mb-3">
      <label for="evaluation-criterium-checkboxes" class="form-label">Evaluation Criterias:</label>
      <div class="form-check m-4 float-end">
        <input class="form-check-input" type="checkbox" id="check-all-criterias">
        <label class="form-check-label fw-bolder" for="check-all-criterias">Check All</label>
      </div>
      <div class="evaluation-criterium-container border px-2">
        <div class="evaluation-criterium-scroll">

          <% @evaluation_criteriums.each do |evaluation_criterium| %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="evaluation_criterium_ids[]" id="evaluation-criterium-<%= evaluation_criterium.id %>" value="<%= evaluation_criterium.id %>">
            <label class="form-check-label" for="evaluation-criterium-<%= evaluation_criterium.id %>">
              <figure class="text-end">
                <blockquote class="blockquote">
                  <p><%= evaluation_criterium.description %></p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  <%= evaluation_criterium.for %>
                </figcaption>
              </figure>
            </label>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= form.hidden_field :form_fields, value: nil, id: "hidden-field" %>

    <%= form.submit :submit_form_fields, value: "Save Form Fields", id: "submit-form-fields", class: "btn btn-primary" %>
  </div>

  <div class="mb-3 border px-2 col-4">

    <div id="dynamic-fields-containers" >
    </div>
    <% if @evaluation_form.errors.has_key?(:form_fields) %>
    <% @evaluation_form.errors[:form_fields].each do |message| %>
    <div class="text-danger"><%= message %></div>
    <% end %>
    <% end %>
  </div>
</div>


</div>
<% end %>

<style>
  .evaluation-criterium-container {
    height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  #dynamic-fields-containers {
    min-height: 0;
    max-height: 900px; /* Adjust the max height as needed */
    overflow-y: auto;
  }

</style>

<script>
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var checkAllCriteriasCheckbox = document.getElementById('check-all-criterias');
  var submitFormFields = document.getElementById('submit-form-fields');
  var containersContainer = document.getElementById('dynamic-fields-containers');
  var form = document.getElementById('data-form');
  var containers = []; // Array to store dynamic fields containers

  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      containers = []; // Reset containers array on each change

      checkboxes.forEach(function(checkbox) {
        if (checkbox.checked && checkbox !== checkAllCriteriasCheckbox) { // Exclude the check-all checkbox
          var selectedId = checkbox.getAttribute('value');
          var selectedDescription = checkbox.labels[0].innerText;

          var container = document.createElement('div');
          container.classList.add('dynamic-fields-container');
          container.innerHTML = generateFieldHTML(selectedId, selectedDescription);
          containers.push(container);
        }
      });

      renderGeneratedForm(); // Render the generated form
    });
  });

  checkAllCriteriasCheckbox.addEventListener('change', function() {
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = checkAllCriteriasCheckbox.checked;
    });

    if (checkAllCriteriasCheckbox.checked) {
      containers = []; // Reset containers array
      checkboxes.forEach(function(checkbox) {
        if (checkbox !== checkAllCriteriasCheckbox) {
          var selectedId = checkbox.getAttribute('value');
          var selectedDescription = checkbox.labels[0].innerText;

          var container = document.createElement('div');
          container.classList.add('dynamic-fields-container');
          container.innerHTML = generateFieldHTML(selectedId, selectedDescription);
          containers.push(container);
        }
      });
    } else {
      containers = []; // Clear containers array when "Check All" is unchecked
    }

    renderGeneratedForm(); // Render the generated form
  });

  function generateFieldHTML(id, description) {
    var fieldHtml = `
    <div class="form-group">
    <p>${description}:</p>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${id}]" value="1" id="q${id}_1">
    <label class="form-check-label" for="q${id}_1">1</label>
    </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${id}]" value="2" id="q${id}_2">
    <label class="form-check-label" for="q${id}_2">2</label>
    </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${id}]" value="3" id="q${id}_3">
    <label class="form-check-label" for="q${id}_3">3</label>
    </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${id}]" value="4" id="q${id}_4">
    <label class="form-check-label" for="q${id}_4">4</label>
    </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${id}]" value="5" id="q${id}_5">
    <label class="form-check-label" for="q${id}_5">5</label>
    </div>
    </div>
    `;

    return fieldHtml;
  }

  function renderGeneratedForm() {
    containersContainer.innerHTML = ''; // Clear existing containers

    containers.forEach(function(container) {
      containersContainer.appendChild(container.cloneNode(true));
    });
  }

  submitFormFields.addEventListener('click', function(event) {
    event.preventDefault();

    var hiddenField = document.getElementById('hidden-field');
    hiddenField.value = containersContainer.innerHTML;

    document.getElementById('data-form').submit();
  });
</script>
