<h1>EvaluationForms#new</h1>

<%= form_with(model: @evaluation_form, url: evaluation_forms_path, id: 'data-form') do |form| %>
  <div class="container-fluid my-4">
    <div id="dynamic-fields-container" class="mb-3">
      <!-- Existing form fields or generated radio buttons can be inserted here -->
    </div>

    <div class="form-group mb-3">
      <label for="evaluation-criterium-select" class="form-label">Evaluation Criterium</label>
      <select name="evaluation_criterium_id" id="evaluation-criterium-select" class="form-select">
        <% @evaluation_criteriums.each do |criterium| %>
          <option value="<%= criterium.id %>" data-name="<%= criterium.criteria %>" data-description="<%= criterium.description %>">
            <%= criterium.criteria %>
          </option>
        <% end %>
      </select>
    </div>

    <%= form.hidden_field :form_fields, value: nil, id: "hidden-field" %>

<div class="form-group mb-3">
  <label for="evaluation-form-evaluator" class="form-label">Evaluator</label>
  <%= form.select :evaluator, [["Evaluator", nil],["Student","student"], ["Instructor","instructor"]], {}, class: "form-select form-control" %>
</div>


    <%= form.submit :submit_form_fields, value: "Save Form Fields", id: "submit-form-fields", class: "btn btn-primary" %>

<button id="add-radio-buttons" class="btn btn-secondary">Add Radio Buttons</button>
  </div>
<% end %>



<script>
  // Retrieve the select element and add an event listener to capture the selected option
  var selectElement = document.getElementById('evaluation-criterium-select');
  var submitFormFields = document.getElementById('submit-form-fields');
  var form = document.getElementById('data-form');

  var selectedName = "blank";
  var selectedDescription = "blank";

  selectElement.addEventListener('change', function() {
    var selectedOption = selectElement.options[selectElement.selectedIndex];
    selectedName = selectedOption.getAttribute('data-name');
    selectedDescription = selectedOption.getAttribute('data-description');
    selectedId = selectedOption.getAttribute('value');
    
    // Use the captured data as needed
    console.log('Selected Name:', selectedName);
    console.log('Selected Id:', selectedId);
    console.log('Selected Description:', selectedDescription);
  });

  var addButton = document.getElementById('add-radio-buttons');
  var container = document.getElementById('dynamic-fields-container');

  addButton.addEventListener('click', function(event) {
    event.preventDefault();
    var fieldHtml = `
      <div class="form-group">
      <p>${selectedDescription}:</p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${selectedId}]" value="1" id="q${selectedId}_1">
        <label class="form-check-label" for="q${selectedId}_1">1</label>
      </div>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${selectedId}]" value="2" id="q${selectedId}_2">
        <label class="form-check-label" for="q${selectedId}_2">2</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${selectedId}]" value="3" id="q${selectedId}_3">
        <label class="form-check-label" for="q${selectedId}_3">3</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${selectedId}]" value="4" id="q${selectedId}_4">
        <label class="form-check-label" for="q${selectedId}_4">4</label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="evaluation_form[form_fields][${selectedId}]" value="5" id="q${selectedId}_5">
        <label class="form-check-label" for="q${selectedId}_5">5</label>
      </div>
    </div>
    `;

    container.insertAdjacentHTML('beforeend', fieldHtml);
  });

  submitFormFields.addEventListener('click', function(event) {
  event.preventDefault();

  var hiddenField = document.getElementById('hidden-field');
  hiddenField.value = container.innerHTML;

  // Trigger the form submission after a brief delay to allow the container.innerHTML to be updated
  setTimeout(function() {
    form.submit();
  }, 100);
});
</script>